@media (max-width: 768px) {
    .navbar-logo {
        width: 70px;
        height: auto;
    }

    .live p {
        background-color: #ff0000;
        color: white;
        padding: 2px 15px;
        font-size: 11px;
        animation: wave-bounce 2s infinite ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .datetime {
        font-size: 10px;
        font-weight: 600;
    }
}