@media (max-width: 768px) {
    .navbar-logo {
        width: 70px;
        height: auto;
    }

    .datetime {
        font-size: 12px;
        font-weight: 600;
    }

    .category-menu {
        height: 400px;
        overflow-y: auto;
        padding-right: 15px;
    }

    .category-menu::-webkit-scrollbar {
        width: 3px;
    }

    .category-menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .category-menu::-webkit-scrollbar-thumb {
        background: #888;
    }
    .share{
        padding: 0 7px;
    }
    main {
        margin-top: 65px;
    }
}