:root {
    --primary: #fbb11a;
    --secondary: #b88622;
    --yellow-bg: #ffe5b0;
    --summery: #4b5563;
    --ticker-bg: #111827;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #f9fafb;
}

/* headings */
.title-1 {
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.title-1s {
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease-in-out;
}

.title-1:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.title-2 {
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.title-2:hover {
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
}

.title-3 {
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: var(--summery);
}

/* summery */
.summery-big-news {
    font-size: 16px;
    color: var(--summery);
    line-height: 1.2;
}

.summery-big-news-2 {
    font-size: 16px;
    line-height: 1.2;
}

.summery-small-news {
    font-size: 18px;
    line-height: 1.2;
}

/* padding margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

/* link */
a {
    text-decoration: none;
    color: inherit;
}

/* list */
ul,
ol {
    list-style: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* bars */
.ph-bar {
    width: 100%;
    height: 1px;
    background-color: #d1d5db;
}

.yellow-border-left {
    border-left: 3px solid var(--primary);
}

/* navbar */
.navbar-logo {
    width: 43%;
    height: auto;
}

.header-list {
    margin-left: -95px;
    height: 100%;
}

.header-list ul {
    height: 100%;
    align-items: stretch;
}

.header-list ul li {
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.header-list ul li.active {
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
}

.form-control {
    background-color: #f3f4f6;
    border: none;
    font-size: 13px;
    padding-left: 20px;
}

.form-control:focus {
    box-shadow: none;
    background-color: #f3f4f6;
}

/* Remove default search "x" button */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.bi {
    font-weight: 600 !important;
    -webkit-text-stroke: 0.5px;
}

.bi-search {
    -webkit-text-stroke: 0.9px;
}

.bi-list {
    -webkit-text-stroke: 1.3px;
}

@keyframes wave-bounce {

    0%,
    90% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }

    40% {
        box-shadow: 0 0 0 8px rgba(255, 0, 0, 0);
    }
}

/* offcanvas */
.offcanvas {
    background-color: #f7f8f9;
}

.datetime-big,
.category {
    background-color: white;
    padding: 20px 15px;
    border-radius: 10px;
}

.big-time {
    font-size: 20px;
    font-weight: 800;
}

.big-date {
    font-size: 12px;
    font-weight: 500;
    color: var(--summery);
}

/* Custom Menu Styling */
.category-menu .subcategory-list {
    border-color: #dee2e6 !important;
    list-style: none;
}

.category-menu .title-2 {
    color: #000;
}

.category-menu .subcategory-list a {
    font-size: 14px;
    color: #6c757d !important;
    transition: color 0.2s;
}

.category-menu .subcategory-list a:hover {
    color: var(--primary) !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* share market ticker */
.ticker-wrapper {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    height: 55px;
}

.share {
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    padding: 0 25px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 15px;
    margin: 0;
    white-space: nowrap;
    z-index: 2;
}

.share-ticker-container {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.share-ticker {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    margin: 0;
    animation: ticker-scroll 10s linear infinite;
    width: max-content;
}

.share-ticker:hover {
    animation-play-state: paused;
}

.stock-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stock-info {
    line-height: 1.2;
}

.stock-name {
    font-size: 13px;
    font-weight: 800;
    margin: 0;
    color: #000;
    white-space: nowrap;
}

.stock-value {
    font-size: 11px;
    margin: 0;
    color: #4b5563;
    white-space: nowrap;
}

.bi-arrow-down {
    color: #ff3b30;
    font-size: 1.1rem;
    font-weight: 900 !important;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}



























/* end */