:root {
    --primary: #fbb11a;
    --secondary: #b88622;
    --yellow-bg: #ffe5b0;
    --summery: #4b5563;
    --ticker-bg: #111827;
}

/* headings */
.title-1 {
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.title-1s {
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease-in-out;
}

.title-1:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.title-2 {
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.title-2:hover {
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
}

.title-3 {
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: var(--summery);
}

/* summery */
.summery-big-news {
    font-size: 16px;
    color: var(--summery);
    line-height: 1.2;
}

.summery-big-news-2 {
    font-size: 16px;
    line-height: 1.2;
}

.summery-small-news {
    font-size: 18px;
    line-height: 1.2;
}

/* padding margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

/* link */
a {
    text-decoration: none;
    color: inherit;
}

/* list */
ul,
ol {
    list-style: none;
}

/* bars */
.ph-bar {
    width: 100%;
    height: 1px;
    background-color: #d1d5db;
}

.yellow-border-left {
    border-left: 3px solid var(--primary);
}


/* navbar */
.navbar-brand {
    margin-right: 0 !important;
}

.navbar-brand img {
    max-width: 95px;
    height: auto;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar {
    padding: 0;
}

.nav-link {
    margin-right: 15px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
}

.nav-item .nav-link.active {
    color: var(--primary) !important;
    border-bottom: 4px solid var(--primary);
}

.nav-link.active {
    color: var(--primary) !important;
}

.bi-search {
    right: 15px;
}

.search-input {
    background-color: #f3f4f6;
    font-size: 12px;
    padding: 6px 14px;
    width: 300px;
}


























/* end */